/* Global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.15;
    color: rgba(22, 28, 45, 0.7);
}

#body {
    background-color: white;
}

.container {
    position: relative;
}

header {
    background:
    linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpeg);
    height: 60vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    color: white;
}

header form .btn i {
    font-size: 18px !important;
}

header .navbar > .form-inline {
    position: relative;
}

header .navbar > .form-inline > input {
    padding: 10px 50px 10px 20px;
    height: 45px;
}

header .navbar > .form-inline .fa-search {
    position: absolute;
    top: 36%;
    right: 10%;
    color: rgba(22, 28, 45, 0.7);
    font-size: 15px;
    cursor: pointer;
}

header .navbar-brand {
    font-size: 2.1em !important;
    font-weight: 700;
    color: #fff !important;
}

header .navbar-light .navbar-toggler {
    text-align: center;
    color: #fbfdfb;
    border-color: rgba(0, 0, 0, 0);
}

header nav .navbar-toggler {
    font-size: 2em !important;
}


header .btn-close {
    background: #ff6600;
    color: white !important;
    opacity: 1;
    line-height: 40px;
    font-weight: 600;
    padding: 0 15px !important;
    border-radius: 6px;
    border-color: #ff6600;
    border: 0.7px solid rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

header .btn-close > span {
   font-size: 22px !important;
   font-weight: 600 !important;
   /* padding: 2px 15px 8px !important; */
   line-height: 40px;
}

header .modal-content {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
} 

header .modal-content .modal-header {
    border-bottom: none;
}

header .modal-body nav {
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.5s;
} 

header .modal-body nav li:hover {
    color: #ff6600;
}

header .modal-body nav {
    margin-top: 100px;
}

header .modal-body li {
    list-style: none;
    padding: 10px 0;
}

header .modal-dialog {
    margin: 0;
}

header .mt-10 {
    margin-top: 10%;
}

header .card {
    border: 0;
    background-color:transparent;
    width: 60vw;
}

header .card .card-title {
    font-size: 5vh;
    font-weight: 700;
    line-height: 6vh;
    color: white;
}

header .card .card-icon {
    padding: 13px 45px;
    border: 1px solid white;
    color: white;
    font-weight: 700;
}

header .card .card-icon:hover {
    color: #ff6600;
    background: white;
}


@media (min-width:801px) {
    header .card {
        border: 0;
        background-color:transparent;
        width: 40vw;
    }

    header .card .card-title {
        font-size: 4vh;
        font-weight: 700;
        line-height: 5vh;
        color: white;
    }
}

@media (min-width:602px) and (max-width:800px) {
    header {
        min-height: 600px;
        width: 100%;
    }

    header .card {
        border: 0;
        background-color:transparent;
        width: 90vw;
    }

    header .navbar-brand {
        font-size: 1.9em !important;

        color: #fff !important;
    }
    
    header nav .navbar-toggler {
        font-size: 1.9em !important;
    }
    

    header .form-inline {
        display: none;
    }
    
    header .card {
        border: 0;
        background-color:transparent;
        width: 85vw !important;
    }

    header .card .card-title {
        font-size: 3vh;
        font-weight: 700;
        line-height: 4vh;
        color: white;
    }
}

@media (max-width: 693px) {

    header .card {
        border: 0;
        background-color:transparent;
        width: 70vw;
    }

    .blog__info {
        margin-top: 60px;
    }


}



@media (max-width:601px) {
    header {
        width: 100%;
        min-height: 600px;
    }

    header .form-inline {
        display: none;
    }

    header .navbar-brand {
        font-size: 1.8em !important;

    }

    header nav .navbar-toggler {
        font-size: 1.8em !important;
    }

    header .modal-body nav {
        font-size: 16px;
        /* font-weight: 300; */
    } 

    header .mt-10 {
        margin-top: 30%;
    }

    header .card {
        border: 0;
        background-color:transparent;
        width: 90vw;
    }

    header .card .card-title {
        font-size: 3vh;
        font-weight: 700;
        line-height: 4vh;
        color: white;
    }

    header .card .card-icon {
        padding: 10px 20px;
        border: 1px solid white;
        color: white;
        font-weight: 700;
    }
}

@media (max-width: 800px) {
    header .btn {
        margin-left: auto;
    }
}

@media (max-width: 415px) {
    header {
        min-height: 55vh;
    }
}

@media (max-width: 320px) {
    header {
        min-height: 65vh;
    }
}

header .btn .fa {
    color: white;
}


/* THEME NAVIGATE */
#light {
    display: none;
    position: absolute;
    width: 100vw !important;
    height: 800vh !important;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.9);
    z-index: 1002;
    overflow: visible;
    /* opacity: 0.95; */
  }

  #light a:hover {
      text-decoration: none;
  }

  .light-container {
      position: relative;
      width: 100%;
      height: 100%;
  }

  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    /* border: 1px solid #AEAEAE;
    border-radius: 3px; */
    background: rgba(0, 0, 0, 0.1);
    font-size: 31px;
    font-weight: bold;
    /* display: inline-block; */
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 1vw;
    top: -3vh;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  .test:hover ~ .test2 {
    display: none;
  }
  
  .VisaChipCardVideo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
  }

  #light iframe {
      border-radius: 10px;
  }

  .ytp-cued-thumbnail-overlay-image {
    background-image: none;
}

.b-c {
    border:1px solid rgb(222, 226, 230);
    border-radius: 10px;
  }

.about h6{
    color:#FF6600;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
    font-family: 'Pacifico', cursive;

}

.about h3{
    color: black;
    font-size: 40px;
    line-height:50px;
    font-weight: 550;
}

.about p{
    font-size: 18px;
    line-height: 28px;
}

.deal__img{
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
 
    width: 100%;
    min-height: 600px;
 }
 .deal__img::before{
     content: "";
     background:#100f1375;
 
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
 }
 .deal__content{
     background-color: #ff6600;
     
 }
 .deal__content h4{
     font-size: 20px;
     color: white;
     letter-spacing: 1px;
     font-weight: 400;
     font-family: 'Pacifico', cursive;
 }
 .deal__content h2{
     font-size: 38px;
     font-weight: 600;
     color: #232121;
 }
 .deal__content p{
     color: #ffdfc9;
     padding: 10px 0;
     font-size: 18px;
 }
 .deal__title{
     padding: 70px 60px ;
 }
 .deal__detail{
     padding-top: 40px;
 }
 .deal__detail h5{
     font-size: 22px;
     padding-top: 25px;
     color: #232121;
     font-weight: 700;
 }
 
 .deal__detail i{
     width: 70px;
     height: 70px;
     background-color: white;
     text-align: center;
     line-height: 70px;
     font-size: 22px;
     border-radius: 5px;
     
 }
 .deal__detail i::before{
     color: #ff6600;
     transition: all 0.5s;
 }
 .deal__detail i:hover::before{
     color: #ffc600;
     transition: all 0.5s;
 }
 
 @media screen and (max-width:992px) {
     .deal__img{
         min-height: 200px;
     }
 }
 @media screen and (max-width:992px) {
     .deal__title{
         padding: 70px 40px 0 40px;
     }
     
 }

 .new {
     background: #f7f7f7;
 }

 .new .new__list .new__item1 {
     position: relative;
     width: 100%;
     height: 50vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 10px;
 }

 .new .img1 {
    background:url(../img/g1.jpeg);
 }
 .new .img2 {
    background:url(../img/g2.jpeg);
 }
 .new .img3 {
    background:url(../img/g3.jpeg);
 }
 .new .img4 {
    background:url(../img/g4.jpeg);
 }
 .new .img5 {
    background:url(../img/g5.jpeg);
 }
 .new .img6 {
    background:url(../img/g6.jpeg);
 }

.new h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
}

@media (max-width: 750px) {
.new h3 {
    font-size: 16px;
    }

.new h1 {
    font-size: 32px !important;
    }

.new .new__item--content h5 {
    font-size: 18px !important;
    line-height: 28px;  
}

.new .new__list .new__item1 {
    position: relative;
    width: 100%;
    height: 33vh;
}

.new .new__list .new__item1 .new__item--content {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.new__list .card-body {
    padding-left: 10px;
}

.cd-box {
    height: 350px;
    width: 60px !important;
}

.cd-box i {
    font-size: 18px !important;
}

}

.new h1 {
    font-size: 38px;
    line-height: 40px;
    color: #232121;
    font-weight: 600;
}

 .new__item1 .item-layout {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0,
     rgba(0, 0, 0, 0.53) 69%, 
     rgb(27 27 27 / 76%) 100%);
     border-radius: 10px;

}

.new__item1:hover .item-layout {
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.1) 0,
     rgba(0, 0, 0, 0.53) 69%, 
     rgb(27 27 27 / 76%) 100%);
}


 
 .new .new__list .new__item1 .new__item--content {
     position: absolute;
     bottom: 0;
     left: 10px;
 }

 .new__item--content h5 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

.new__item--content p {
    font-size: 18px;
    line-height: 25px;
    color: #ffc600;
    font-weight: 600;
    opacity: 0.9;
}

.icon{
    color: #FF6600;
    width: 70px;
    height: 70px;
    text-align: center !important;
    font-size: 25px;
    line-height: 70px;
    border-radius: 6px;
    margin-right: 30px;
    background-color: rgba(253, 251, 251, 0.959);
}
.icon:hover{
    color: white;
    background: #FF6600;
}

.menu__item h4 a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.menu__item h4:hover a{
    color: #FF6600;
}
.menu p{
    line-height: 28px;
    font-size: 18px;
    margin: 19px 0;
}
.menu .border{
    border-radius: 10px;
}
.menu__item{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
  }

.delicious{
    background-image: linear-gradient(0,rgba(16, 15, 19, 0.659),rgba(17, 15, 19, 0.659)), url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 486px;
    text-align: center;
    margin-top: 50px;
}
.delicious__content{
    padding: 50px 0;
}
.delicious__content h1{
    color: white;
    padding: 30px 0;
    font-weight: 600;
}
.delicious__content button{
    width: 200px;
    height: 58px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin: 0 10px ;
}
.button__left{
    background-color: transparent;
    border: solid 2px white;
}
.button__left:hover{
    background-color: white;
    color: #ff6600;
}
.button__right{
    background-color: #ff6600;
    border: none;
}
.button__right:hover{
    color: #ffdfc9;
}

/* NUMBER - PHUOC */
.number .number__content{
position: relative;
}
.number .number__detail{
    position: absolute;
    right: 0;
    left: 0;
    top: -70px;
}
.number__item{
    background-color: white;
    border-radius: 10px;
    border: white 2px solid;
    height: 254px; 
    text-align: center;
    transform: translateY(0);
    transition: all 0.5s;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;

}
.number__item:hover{
    transform: translateY(-10px);
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: .3s ease;
}
.number__item i{
    height: 68px;
    width: 68px;
    font-size: 26px;
    background-color: #ff6600;
    border-radius: 50%;
    line-height: 68px;
    margin: 20px 0;
    color: white;
}
.number__item p{
    font-size: 18px;
}
.number__item p:last-of-type{
    color: #161c2db3;
}
.number__item .numscroller{
    font-size: 2.6em;
    font-weight: 600;
    color: #232121;

}

@media screen and (min-width:736px) and (max-width:992px) {
    .delicious{
        min-height: 348px;
    }
}
@media screen and (min-width:576px) and (max-width:736px) {
    .delicious{
        min-height: 329px;
    }
}
@media screen and (min-width:500px) and (max-width:576px) {
    .delicious{
        min-height: 305px;
    }
}
@media screen and (min-width:768px) {
    .number .number__item{
        margin: 0 15px;
    }
}
@media screen and  (max-width:992px) {
    .number .number__detail{
        top: 65px;
    }
    .delicious__content{
        padding: 30px 0;
    }
}

.blog {
    margin-top: 20vh;
    /* padding-top: 100px; */
}

.blog__content {
    padding: 100px 0;
}

.blog__info {
    background: url(../img/banner3.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blog__info--before {
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 22;
    border-radius: 6px;
    opacity: 1;
}

.blog__info > a {
    z-index: 23;
    display: flex;
}
.blog__content .blog__info .video-play-icon  {
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 81px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    color: #ff6600;
    border: transparent;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    animation: ripple 1s linear infinite;
}

.blog__content .blog__info .video-play-icon:hover{
        transform: scale(1.2);
        transition: 0.3s ease-in-out;
        background:#ff6600;
        border: transparent;
        color: #fff;
    
}


.blog__info > a {
    background-color: rgb(224, 229, 236);
box-shadow: rgba(163, 177, 198, 0.5) 6px 6px 12px 0px, rgb(255, 255, 255) -6px -6px 12px 0px;
-webkit-box-shadow: rgba(163, 177, 198, 0.5) 6px 6px 12px 0px, rgb(255, 255, 255) -6px -6px 12px 0px;
border-radius: 200px;
-webkit-border-radius: 200px;
}


@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
    }
}

@media (max-width: 710px) {
    .blog {
        margin-top: 60vh;
    }
    #VisaChipCardVideo {
        width: 100vw;
        height: 100vh;
    }
}

@media (min-width: 711px) and (max-width: 780px) {
    .blog {
        margin-top: 60vh;
    }
}

@media (min-width: 781px) and (max-width: 992px) {
    .blog {
        margin-top: 30vh;
    }
}

.contact{
    background-color: black;
}
.contact__content{
   padding: 50px 0;
}
.contact__detail a{
    text-decoration: none;
}
.contact__detail ul{
    list-style: none;
}
.contact__detail h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.contact__detail h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
    transition: all 0.5s;
}
.contact__detail h3:hover{
    color: #FF6600;
    cursor: pointer;
    transition: all 0.5s;
}
.contact__detail p{
    font-size: 17px;
    color: #a5a2a1;
    padding: 10px 0;
}
.contact__detail a{
    font-size: 17px;
    color: #a5a2a1;
    transition: all 0.5s;
}
.contact__detail a:hover{
    color: #FF6600;
    transition: all 0.5s;
}
.contact__detail li{
    padding: 7px 0;
}
.contact__detail i{
    width: 36px;
    height: 36px;
    color: #ff6600;
    background-color: white;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.contact__detail i:hover{
    color: white;
    background-color: #FF6600;
    transition: all 0.5s;
}
.contact__detail input{
    padding: 14px 20px;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: solid 2px transparent;
    transition: all 0.5s;
}
.contact__detail input:focus{
    outline: none;
    border-color: red;
    transition: all 0.5s;
}
.contact__detail button{
    width: 100%;
    padding: 14px 45px;
    background-color: #FF6600;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: solid 2px transparent;
    margin-top: 15px;
    transition: all 0.5s;
}
.contact__detail button:hover{
    color: #a5a2a1;
    transition: all 0.5s;
}

@media screen and (min-width:500px) and (max-width:576px) {
    .contact__icon{
     padding: 0 125px;
     margin-bottom: 10px;
    }
}
@media screen and (min-width:300px) and (max-width:400px) {
    .contact__icon{
     padding: 0 45px;
     margin-bottom: 10px;
    }
}
@media screen and (min-width:300px) and (max-width:576px) {
    .contact__content{
        padding: 40px 15px;
    }
    .contact__detail{
    margin-top: 30px;
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    .contact__detail{
        margin-top: 25px;
    }
    .contact__content{
    padding: 30px 20px;
    }
    .contact__icon{
        padding: 0 35px;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .contact__icon{
        padding: 0 70px;
    }
}

.post a{
    text-decoration: none;
}
.post h6{
    color:#FF6600;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
    font-family: 'Pacifico', cursive;

}

.post h3{
    color: black;
    font-size: 40px;
    line-height:50px;
    font-weight: 550;
}

.post p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.post .card-header {
    border-radius: 10px;
}

.post .card-header .post-pos {
    position: absolute;
    bottom: 10px;
    left: 10px;

}

.post .card-header a.receipe {
    background: #ff6600;
    color: #fff;
    padding: 5px 22px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: .05em;
}

.post .meta-info {
    color: white;
   
}

.post .blog-desc{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: black;
    margin-top: 25px;
    margin-bottom: 15px;

}
.post .p-meta-info img {
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}
.post .img-name,.post .read{
    font-weight: 700;
    color:black;
    letter-spacing: .02em;
}
.post .p-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.card{
    border: none;
}
.card .card-img-bottom{
    border-radius: 10px;
}

.card .read:hover{
    color: #ff6600 !important;
}


.slider h6{
    color:#FF6600;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
    font-family: 'Pacifico', cursive;

}

.slider h3{
    color: black;
    font-size: 40px;
    line-height:50px;
    font-weight: 550;
}
.slider p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.title-w3l {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.slider blockquote q {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: black;
}
.slider .testimonial .peopl h3, .w3l-clients .testimonial .people-info h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.slider .testimonial img {
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}
.testimonial {
    width: 50vw;
    text-align: center;
    margin: auto;
}
.slider blockquote q::before{
    margin-top: 2rem;
    font-size: 60px;
    color: #FF6600;
    display: block;
    font-family: initial;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #FF6600;
}

.p-footer .img-name {
    margin-left: 10px;
    
}

@media (max-width:499px) {
    .contact .contact__icon {
        text-align: center;
    }

    .contact .contact__icon i {
        margin: 10px;
    }

    .slider .testimonial > p {
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: bread-word;
    }

}

footer{
    background-color: black;
    border-top: solid 1px #ffffff0d;
    padding-top: 20px;
}
.footer__content ul{
    list-style: none;
}
.footer__content a{
    text-decoration: none;
}
.footer__content li{
    display: inline;
}
.footer__left li{
color: #ddd;
}
.footer__left a{
    color: #FF6600;
    transition: all 0.5s;
}
.footer__left a:hover{
    color: #ddd;
    transition: all 0.5s;
}
.footer__right{
    text-align: right;
}
.footer__right a{
    color: #a5a2a1;
    transition: all 0.5s;
    margin-left: 30px;
}
.footer__right a:hover{
    color: #FF6600;
    transition: all 0.5s;
}
@media screen and (min-width:300px) and (max-width:992px) {
    .footer__left{
        text-align: center;
    }
    .footer__right{
        text-align: left;
    }
}
@media screen and (min-width:300px) and (max-width:400px) {
   
  .footer__content .footer__right a{
      margin-left: 10px;
  }
}


.backToTop{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 60px;
    background-color: #ff6600;
    font-size: 5vh;
    border-radius: 50%;
    color: white;
    opacity:0.7;
    visibility: hidden;
}

.backToTopL:hover {
    color: white;
}

.cd-top {
    height: 50px;
    width: 50px;
    font-size: 20px;
    position: fixed;
    right: 5px;
    bottom: 50px;
    background-color: #fd7e14;
    color: #fff;
   text-align: center;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.cd-top:hover {
    color: white;
    text-decoration: none;
}


.cd-top--is-visible {
    visibility: visible;
    opacity: 0;
  }


  .cd-top--fade-out { 
      opacity: 1;
  }


  .cd-box {
      position: fixed;
      right: 0;
      top: 7%;
      height: 350px;
      width: 90px;
      background-color: #0D1326;
      padding: 10px 5px 10px;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content:space-around;
      font-weight: 300;
  }

  .cd-box i
   {
    font-size: 25px;
    cursor: pointer;
    opacity: .5;
    text-align: center;
    padding: 0 0 15px;
    /* text-align:start; */
  }

  .cd-box i:nth-of-type(2),
  .cd-box i:nth-of-type(3)
  .cd-box i:nth-of-type(4)
  {
      font-size: 17px;
  }
  .cd-box i:nth-of-type(2) p,
  .cd-box i:nth-of-type(3) p,
  .cd-box i:nth-of-type(4) p
  {
      font-size: 12px !important;
      font-family: 'Quicksand', sans-serif;
      margin-top: 10px;
  }
  .cd-box i:hover {
      opacity: 1;
  }

  .cd-box i:first-of-type {
    border-bottom: 1px solid white;
  }

  .cd-box i:first-of-type:hover {
      opacity: .5;
  }

#switchButton #sun {
    display: none;
}

#switchButton #moon {
    display: block;
}

.dark #switchButton #sun {
    display: block;
}

.dark #switchButton #moon {
    display: none;
}

.dark .about,
.dark .new,
.dark .mt-4,
.dark .post,
.dark .post .card,
.dark .contact__icon i
 {
    background-color: #282828 !important;
}

.dark#body,
.dark .menu,
.dark .number__item,
.dark input,
.dark .blog,
.dark .slider .people-info
{
    background-color: #232220 !important;
    border: none;
}


.dark form > i,
.dark .about h3,
.dark .color-w,
.dark .menu__top h4 > .color-w,
.dark .card-body,
.dark .card-body a,
.dark .post__header h3 ,
.dark .slider,
.dark .slider h3,
.dark .slider q
 {
    color:white !important;
}


.dark .menu__top .icon i {
    color: #ff6600;
}

.dark .menu__item .color-w {
    color: #c2d0da !important;
    font-family: 'Quicksand', sans-serif;
}

 

.dark .b-c {
    border-color: rgba(255, 255, 255, 0.1);
}

/* Theme Light-dark */
